.login-title{
    font-family: Noto Sans JP;
font-size: 24px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
}

.login-button-submit{
    font-family: Noto Sans;
        font-size: 16px;
        font-weight: 900;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
}

.login-last-text{
    font-family: Noto Sans JP;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
}

.last-text-link{
    font-family: Noto Sans JP;
        font-size: 12px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        color: #BC9100;
}

.button-login-text{
    font-family: Noto Sans;
        font-size: 16px;
        font-weight: 900;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
}

