.collapse-label{
    //styleName: 12px/Regular(項目);
    font-family: Noto Sans JP;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #70777D;
    width: 104px;
    margin-right: 8px;
}

.collapse-content {
    font-family: Noto Sans JP;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #28323C;
}

.collapse-content-file {
   font-family: Noto Sans JP;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F8DDD;
}