.tab-item-chosen{
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #00152A;
  border-bottom: 2px solid #192F51;
}

.tab-item-normal{
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #00152A;
}

.MG-014-01-label{
  font-family: Noto Sans JP;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 21, 42, 0.64);
  
}
.MG-014-01-content {
  font-family: Noto Sans JP;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #001521;
}

.MG-014-01-row-container {
  display: flex;
  align-content: center;
  height: 32px;
  width: 100%;
}