.collapsible .content {
    background-color: #F1F1F1;
    border-bottom: 1px solid #DEE2E6;
    border-left: 1px solid #DEE2E6;
    border-right: 1px solid #DEE2E6;
}

.collapsible .header {
    cursor: pointer;
}

