.dashboard-title{
    //styleName: 18px/Bold(項目);
font-family: Noto Sans JP;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}

.dashboard-title-container{
    height: 72px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #DEE2E6;
    display: flex;
    align-items: center;
}